.App {
  text-align: center;
  .board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    box-sizing: border-box;
    width: 50vw;
    height: 50vw;
    .box {
      border: 1px solid black;
      width: 10%;
      height: 10%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      .noteNumbers{
        width:33%;
        height:33%;
        font-size: 80%;
        display: flex;
        align-content: center;
        justify-content: center;
        // visibility: hidden;
      }
    }
  }
}
