.App {
  text-align: center;
  .boardPageContainer{
    display: flex;
    .board {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-left: 5%;
      box-sizing: border-box;
      width: 60vw;
      height: 60vw;
      background-color: rgb(179, 198, 212);
      padding:1rem;
      border-radius: 10px;
      .boxRows{
        display: flex;
        box-sizing: border-box;
        width:100%;
        .box {
          box-sizing: border-box;
          border: 1px solid black;
          width: 11.1%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          background-color: white;

          .noteNumbers{
            width:33%;
            height:33%;
            font-size: 40%;
            display: flex;
            align-content: center;
            justify-content: center;
            visibility: hidden;
          }
        }
        .borderRight{
          border-right: 3px solid black;
        }
        .borderLeft{
          border-left: 3px solid black;
        }
        .borderTop{
          border-top: 3px solid black;
        }
        .borderBottom{
          border-bottom: 3px solid black;
        }
        .selectedBox{
          outline: 3px solid rgb(0, 255, 0);
          outline-offset: -3px;
        }
      }
    }
    .numberValueButtonContainer{
      width: 40vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      height:20vh;
      .numberValueButtons{
        font-size: 1.5rem;
        width:33%;
        height: 33%;
        border-radius: 30px;
      }
    }
  }
}